* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: Empiricus;
}

$fundo: #f6f5f6;
$button: #e83d4e;
$fonte: #747a81;

@font-face {
    font-family: Empiricus;
    src: url(fonts/DefaultRegular.woff);
}

body {
    background-color: $fundo;
}

.main-container {
    display: flex;
    max-width: 890px;
    margin-top: 20px; margin-bottom: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.158);
    border-radius: 3px; 
    overflow: hidden;
    img {
        max-width: 40%;
    }

    @media (max-width: 870px) {
        img {
            display: none;
        }
    }
}

.cadastro-container {
    background-color: white;  
    padding: 40px;

    a {
        text-decoration: none;
        font-weight: bold;
        color: black;
    }

    .descricao {
        h1 {
            padding-bottom: 10px;
        }
       .paragrafo {
            padding-bottom: 20px;
            color: $fonte;
            font-size: 17px;
        }
    }

    .signup {
        margin-bottom: 35px;
        .full-box {
            display: block;
            margin-bottom: 20px;
            input {    
                width: 100%;
            }
        }
        .half-box {
            display: flex;
            input {
                width: 100%;
            }
        }
        label {
            color: black;
        }
        input {
            padding: 10px;
            border-radius: 5px;
            font-size: 16px;
            margin-top: 5px;
            border: 2px solid #e3e5e6;
            line-height: 0px;
            display: block;
        }
        input:focus {
            border-color: #505050;
            box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.233);
            outline: none;
        }   

        
        /*.senhadiv {
            position: relative;
            img {
                position: absolute;
                right: 0;
                bottom: 8px;
                
                            
            }

        }
        #eyeclose {
            position:absolute;
            right:0;
            top:7px;
            content: '';

            cursor:pointer;
         
        }*/
    }

    .checkboxs {
        margin-top: 15px;
        .termos {
            margin-bottom: 10px;
        }
        input  {
            margin-right: 10px;
        }
    }  

    .final-container {
        margin-top: 45px;
        display: flex;
        p {
            color: $fonte;
            margin-top: 15px;
        } 
        button {
            background-color: $button;
            color: white;
            border: none;
            padding: 15px;
            font-size: 18px;
            width: 150px;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #d33343;
        }
    }
}

