* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
  font-family: Empiricus;
}

@font-face {
  font-family: Empiricus;
  src: url(fonts/DefaultRegular.woff);
}
body {
  background-color: #f6f5f6;
}

.main-container {
  display: flex;
  max-width: 890px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.158);
  border-radius: 3px;
  overflow: hidden;
}
.main-container img {
  max-width: 40%;
}
@media (max-width: 870px) {
  .main-container img {
    display: none;
  }
}

.cadastro-container {
  background-color: white;
  padding: 40px;
}
.cadastro-container a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.cadastro-container .descricao h1 {
  padding-bottom: 10px;
}
.cadastro-container .descricao .paragrafo {
  padding-bottom: 20px;
  color: #747a81;
  font-size: 17px;
}
.cadastro-container .signup {
  margin-bottom: 35px;
  /*.senhadiv {
      position: relative;
      img {
          position: absolute;
          right: 0;
          bottom: 8px;


      }

  }
  #eyeclose {
      position:absolute;
      right:0;
      top:7px;
      content: '';

      cursor:pointer;

  }*/
}
.cadastro-container .signup .full-box {
  display: block;
  margin-bottom: 20px;
}
.cadastro-container .signup .full-box input {
  width: 100%;
}
.cadastro-container .signup .half-box {
  display: flex;
}
.cadastro-container .signup .half-box input {
  width: 100%;
}
.cadastro-container .signup label {
  color: black;
}
.cadastro-container .signup input {
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
  border: 2px solid #e3e5e6;
  line-height: 0px;
  display: block;
}
.cadastro-container .signup input:focus {
  border-color: #505050;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.233);
  outline: none;
}
.cadastro-container .checkboxs {
  margin-top: 15px;
}
.cadastro-container .checkboxs .termos {
  margin-bottom: 10px;
}
.cadastro-container .checkboxs input {
  margin-right: 10px;
}
.cadastro-container .final-container {
  margin-top: 45px;
  display: flex;
}
.cadastro-container .final-container p {
  color: #747a81;
  margin-top: 15px;
}
.cadastro-container .final-container button {
  background-color: #e83d4e;
  color: white;
  border: none;
  padding: 15px;
  font-size: 18px;
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
}
.cadastro-container .final-container button:hover {
  background-color: #d33343;
}/*# sourceMappingURL=style.css.map */